mqtt:
  broker: "ssl://broker.emqx.io:8883"
  client_id: "iot_agent-"
  ca_certificate: "certs/broker.emqx.io-ca.crt"

identity:
  device_file: "configs/device.json"

security:
  jwt_file: "secrets/jwt.bin"
  jwt_secret_file: "secrets/jwt_secret"
  aes_key_file: "secrets/aes_key"

middlewares:
  authentication:
    enabled: true                    
    topic: "iot-authentication"
    qos: 2
    retry_delay: 60s
    request_waiting_time: 60s
    authentication_cert: "secrets/bootstrap_authentication_cert"

services:
  registration:
    topic: "iot-registration"
    qos: 2
    max_retries: 6
    base_delay: 2s
    max_backoff: 60s
    response_timeout: 60s
    enabled: true
  heartbeat:
    topic: "iot-heartbeat"
    interval: 10s
    qos: 1
    enabled: false
  metrics:
    topic: "iot-metrics"
    metrics_config_file: "configs/metrics.json"
    interval: 10s
    timeout: 5s
    qos: 1
    enabled: false
  command:
    topic: "iot-commands"
    qos: 2
    output_size_limit: 1024
    max_execution_time: 10
    status_endpoint: "http://localhost:20001/status"
    commands_state_file: "configs/commands.json"
    enabled: false
  ssh:
    topic: "iot-ssh"
    qos: 2
    ssh_user: "ben"
    private_key_path: "certs/id_rsa"
    server_public_key_path: "certs/id_rsa.pub"
    max_ssh_connections: 5
    connection_timeout: 30s
    enabled: false
  location_service:
    topic: "iot-location"
    qos: 1
    interval: 10s
    sensor_based: false
    maps_api_key: ""
    gps_device_baud_rate: 9600
    gps_device_port: "/dev/ttyACM0"
    enabled: false
  update_service:
    topic: "iot-update"
    qos: 2
    enabled: false
    metadata_file: "updates-metadata.json"
    acknowledgement_topic: "update-status"
    acknowledgement_url: "http://192.168.1.36:7001/update/ack"
